<!--
Later can check tree view
https://jonmiles.github.io/bootstrap-treeview/#child1
-->

<div class="row">
  <div class="col-12">
    <div class="card shadow my-4">

      <div class="card-header py-3">
        <div class="row">
          <div class="col-6">
            <h6 class="m-0 font-weight-bold text-primary">Accounts</h6>
          </div>
          <div class="col-6 text-right">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#accountModal">
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">code</th>
              <th scope="col">category</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="account-tbody">

            {{#accounts}}
            <tr {{#base}} class="table-primary" {{/base}} data-id="{{id}}" data-parent="{{parentId}}"
              data-level="{{level}}">

              <td>{{name}}</td>
              <td>{{code}}</td>
              <td>{{category}}</td>
              <td></td>
            </tr>
            {{/accounts}}

          </tbody>
        </table>

      </div><!-- .card-body -->
    </div><!-- .card -->

  </div><!-- .col -->
</div><!-- .row -->

<div class="modal" id="accountModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-edit" >
          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="name" id="name" />
            </div>
            <div class="col-6">
              <input type="text" class="form-control complete-acc" 
                placeholder="parent" id="parent" />
            </div>
          </div>
          <br />
          <div class="row">

            <div class="col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="codePrepend" >xxx</span>
                </div>
                <input type="text" class="form-control" id="codeAfter" placeholder="code"
                  aria-describedby="codePrepend" />
              </div>
            </div>

            <div class="col-2">
              <label for="category" class="col-sm-2 col-form-label">Category&nbsp;</label>
            </div>
            <div class="col-4">
              <select class="form-control" id="category" >
                <option selected value="" >-none-</option>
                <option value="necessity">necessity</option>
                <option value="flexible">flexible</option>
                <option value="savings">savings</option>
              </select>
            </div>

          </div>
        </form>

        <div class="row">
          <div class="col-12">
            <br />
            <p id="msg"></p>
          </div>
        </div>
        
      </div><!-- end .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn-save" >Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(async function () {

    console.log('accounts.jq - ready...');
    var accounts = [];
    setAccountComplete(null, { root: true }).then(function (acc) {
      accounts = acc;
    });

    var prevParent = null;
    setInterval(function () {
      var parentVal = $("#parent").val();
      var shouldStop = (
        (parentVal === '')
        || (parentVal.length < 2)
        || (prevParent === parentVal)
      );
      if (shouldStop) {
        return false;
      }

      var parentObj = accounts.find(x => x.name === parentVal);

      if (parentObj) {
        $("#codePrepend").text(parentObj.code + ':');
        prevParent = parentVal;
      }

      return true;
    }, 500);

    var formSubmit = function( event ){

      console.log('submit - start...');
      var body = collectForm("form-edit");

      var codePre = $("#codePrepend").text();
      body.code = codePre + body.codeAfter;
      body.category = $("#category").val();

      delete body.codeAfter;
      console.log(body);
      $("#msg").text('...');

      postPromise('/api/accounts', body).then(function(res){
        console.log(res);
        $("#msg").text('ok');
      }).catch(function(err){
        console.log(err);
        //$("#msg").show();
        $("#msg").text('err');
      });

      event.preventDefault();
    };

    $("#form-edit").submit(formSubmit);
    $("#btn-save").click(formSubmit);

  });
</script>

