
<!--
<div class="row" >
	<div class="col-12" >
		<div class="card shadow my-4">
			
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Balance</h6>
			</div>
			<div class="card-body">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th scope="col">name</th>
					  <th scope="col">balance</th>
					</tr>
				  </thead>
				  <tbody id="account-tbody">
					
					{{#accounts}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/accounts}}
					
				  </tbody>
				</table>
				
			</div>
		</div>
		
	</div><!-- .col 
</div><!-- .row
-->

<div class="row" >
	<div class="col-6" >
		<div class="card shadow my-4">
			
			<div class="card-body">
				<table class="table table-striped">
				  <tbody>
					{{#income}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/income}}
				  </tbody>
				</table>
			</div><!-- .card-body -->
		</div><!-- .card -->
		
		<div class="card shadow my-4">
			
			<div class="card-body">
				<table class="table table-striped">
				  <tbody>
					{{#expense}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/expense}}
				  </tbody>
				</table>
			</div><!-- .card-body -->
		</div><!-- .card -->
	</div><!-- .col -->
	
	<div class="col-6" >
		
		<div class="card shadow my-4">
			
			<div class="card-body">
				<table class="table table-striped">
				  <tbody>
					{{#asset}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/asset}}
				  </tbody>
				</table>
			</div><!-- .card-body -->
		</div><!-- .card -->
		
		<div class="card shadow my-4">
			
			<div class="card-body">
				<table class="table table-striped">
				  <tbody>
					{{#liability}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/liability}}
					
					{{#equity}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" 
							data-cnt="{{cnt}}" >
							
							<td>{{name}}</td>
							<td>{{balance}}</td>
						</tr>
					{{/equity}}
				  </tbody>
				</table>
			</div><!-- .card-body -->
		</div><!-- .card -->
		
	</div><!-- .col -->
	
</div><!-- .row -->

<div class="row" >
	<div class="col-6" >
		
		<!--<br /><br />CashFlow / Indicators-->
		
		
	</div><!-- .col -->
	
	<div class="col-6" >
		
		
		
	</div><!-- .col -->
	
</div><!-- .row -->


