
<div class="row" >
	<div class="col-9" >
		<div class="card shadow my-4">
			
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Budget</h6>
			</div>
			<div class="card-body">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th scope="col">month</th>
					  <th scope="col">income</th>
					  <th scope="col" colspan="2" >necessity</th>
					  <th scope="col" colspan="2" >savings</th>
					  <th scope="col" colspan="2" >flexible</th>
					  <th scope="col" colspan="2" >other</th>
					</tr>
				  </thead>
				  <tbody id="account-tbody">
					{{#bud_list}}
						<tr {{#base}} class="table-primary" {{/base}}
							data-id="{{id}}" data-parent="{{parentId}}" data-level="{{level}}" >
							
							<td>{{month}}</td>
							<td>{{bud.income.actual}}</td>
							<td>{{bud.necessity.actual}}</td>
							<td>{{bud.necessity.actual_p}}%</td>
							<td>{{bud.savings.actual}}</td>
							<td>{{bud.savings.actual_p}}%</td>
							<td>{{bud.flexible.actual}}</td>
							<td>{{bud.flexible.actual_p}}%</td>
							<td>{{bud.untracked.actual}}</td>
							<td>{{bud.untracked.actual_p}}%</td>
						</tr>
					{{/bud_list}}
				  </tbody>
				</table>
			</div>
		</div><!--.card-->
	</div><!--.col-->
	
	
	<div class="col-3" >
		<div class="card shadow my-4">
			
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Average</h6>
			</div>
			<div class="card-body">
				<table class="table table-striped">
				{{#stats}}
					<tr>
						<td>{{cat}}</td><td>{{avg}}</td>
					</tr>
				{{/stats}}
				</table>
			</div>
		</div>
	</div><!--.col-->
	
</div><!--.row-->


