
<div class="alert collapse" role="alert" id="msg" >
	...
</div>

<div class="row" >
	<div class="col-12" >
		<div class="card shadow mb-4">
			
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Entry</h6>
			</div>
			<div class="card-body">
				
				<form autocomplete="off" id="form-entry">
					<div class="row">
						<div class="col">date</div>
						<div class="col">account</div>
						<div class="col">debit</div>
					 	<div class="col">credit</div>
					 	<div class="col">category</div>
					 	<div class="col">comment</div>
					</div>
					{{#inputRows}}
					<div class="row input-row">
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="YYYY-MM-DD" name="date" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control complete-acc" name="account" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="number" class="form-control" name="debit" step=".01" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="number" class="form-control" name="credit" step=".01" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" name="category" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<input type="text" class="form-control" name="comment" />
							</div>
						</div>
					</div>
					{{/inputRows}}
					
					<div class="row justify-content-end" id="row-button">
						<div class="col-2">
							<button type="submit" id="entry-btn" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
				
			</div>
		</div>
		
	</div><!-- .col 
	<div class="col-3" >
	</div>
	-->
</div>

<script>
// ## fund
var dateDefault = function(ts){
	$("input[name='date']").filter(function(){
		return this.value.length === 0;
	}).val(ts);
};

var formCollect = function(){
	//console.log('DEBUG - formCollect - start...');
	var rows = $(".input-row");
	var lines = [];
	rows.each(function(ind, r){
		var inputs = $(r).find("input");
		var line = {};
		inputs.each(function(y,x){
			var field = $(x);
			parseField(field, line);
		});
		
		//console.log('DEBUG - loop - index = %s | att = %j', ind, line );
		var mandatory = (
			line.account
			&& (line.credit || line.debit)
		);
		
		if( mandatory ){
			lines.push( line );
		}
	});
	
	return lines;
};

var cleanForm = function(){
	var rows = $(".input-row");
	console.log('cleanup - rows.before = %s', rows.length);
	for(var i=(rows.length - 1); i >= 2; i--){
		rows[i].remove();
	}
	console.log('cleanup - rows.before = %s', $(".input-row").length);
	
	$("#form-entry :input").val("");
	dateDefault(ts);
};

var quickAlert = function(txt, color){
	
	var colorMap = {
		'green': 'alert-success',
		'red': 'alert-danger'
	};
	
	var targetId = '#msg';
	var useColor = colorMap[color] || 'alert-secondary';
	
	$(targetId).text(txt);
	$(targetId).addClass(useColor);
	$(targetId).show();
	
	setTimeout(function(){
		$(targetId).fadeOut(1000, function(){
			$(targetId).removeClass(useColor);
		});
	}, 2000);
};

$(document).ready(async function(){
	
	var date = new Date();
	var ts = date.toISOString().slice(0,10);
	dateDefault(ts);
	
	var accounts = await getAccounts();
	setAccountComplete(accounts);
	
	$("#form-entry").submit(async function(event){
		
		event.preventDefault();
		var lines = formCollect();
		console.log('submit - end - lines = %s', JSON.stringify(lines));
		
		try{
			var res = await postPromise('/api/entries', lines);
			console.log('posted - res = %s', res);
			
			quickAlert('ok', 'green');
			cleanForm();
			
		} catch(err){
			quickAlert('err: ' + err, 'red');
		}
		
	});
	
	var line_change = 1;
	$("#form-entry").on("input", 'input', function(){
		var lines = formCollect();
		if( lines.length > line_change ){
			console.log('on.change - len = %s', lines.length);
			line_change = lines.length;
			
			var anotherRow = $(".input-row").last().clone()
			anotherRow.find("input").val("");
			anotherRow.insertBefore("#row-button");
			
			dateDefault(ts);
			setAccountComplete(accounts);
		}
	});
	
	var applyCategory = function(){
		var accFields = $(this);
		var row = accFields.parent().parent().parent(); //fg-col-row
		var catElement = row.find("input[name='category']");
		
		if( catElement.val() !== '' ){
			return false;
		}
		
		var acc = accFields.val();
		var found = accounts.find(function(x){
			return (
				x.name.toLowerCase() === acc.toLowerCase()
			);
		});
		console.log('applyCategory - found = %s | %s', JSON.stringify(found), acc);
		if( found ){
			catElement.val( found.category );
		}
		
	};
	
	$("#form-entry").on("input", "input[name='account']", applyCategory);
	$("#form-entry").on("autocomplete.select", "input[name='account']", applyCategory);
	$("#form-entry").on("change", "input[name='account']", applyCategory);
	
});
</script>


