
<div class="row" >
	<div class="col-12" >
		<div class="card shadow my-4">
            <div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Forecast</h6>
			</div>
            <div class="card-body">
				No content yet
				<br /><br />
				
			</div>
       </div>
		
	</div>
</div>

<script>
$(document).ready(function(){
	
});
</script>


