
<h1 class="h3 mb-4 text-gray-800"></h1>

<div class="row" >
	<div class="col-9" >
		<div class="card shadow mb-4">
			
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Entries</h6>
			</div>
			<div class="card-body">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th scope="col">date</th>
					  <th scope="col">account</th>
					  <th scope="col">debit</th>
					  <th scope="col">credit</th>
					  <th scope="col">category</th>
					</tr>
				  </thead>
				  <tbody id="journal-tbody">
					
				  </tbody>
				</table>
				
			</div>
		</div>
		
	</div><!-- .col -->
	<div class="col-3" >
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Quick entry</h6>
			</div>
			<div class="card-body">
				<form id="quick-entry" autocomplete="off">
					<div class="form-group">
						<input type="text" class="form-control complete-acc" id="acc_src" placeholder="accout-from" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control complete-acc" id="acc_dst" placeholder="account-to" />
					</div>
					<div class="form-group">
						<input type="number" class="form-control" id="amount" placeholder="amount" />
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Quick budget</h6>
			</div>
			<div class="card-body">
				<p id="budget-txt">
					...
				</p>
			</div>
		</div>
		
	</div>
</div>

<script>

$(document).ready(async function(){
	
	var accounts = await getPromise('/api/accounts');
	accounts = accounts.filter(x => x.level > 0);
	
	var template_journal_row = await getPromise('/temp/journal-row.html');
	
	$('.complete-acc').autoComplete({
		minLength: 1,
		preventEnter: true,
		resolver: 'custom',
		events: {
			search: function(qry, callback){
				
				var queryLower = qry.toLowerCase();
				
				var matches = accounts.filter(function(x){
					return (
						x.name.toLowerCase().includes(queryLower)
						|| x.code.toLowerCase().includes(queryLower)
					);
				});
				
				var result = matches.map( x => x.name );
				return callback(result);
			}
		}
	});
	
	$("#quick-entry :input").on('keydown', function(event){
		if(event.key == "Escape"){
			["acc_src", "acc_dst", "amount"].forEach(function(x){
				$(`#${x}`).val('');
			});
			
			$("#acc_src").focus();
		}
	});
	
	var prev_journal = null;
	var renderTable = async function(){
		var data = await getPromise('/api/entries');
		
		if( data.length === 0 ){
			return false;
		}
		
		if( prev_journal && prev_journal[0] && data[0] && data[0].group === prev_journal[0].group ){
			return false;
		}
		
		var content = Mustache.to_html(template_journal_row, {entries: data});
		$('#journal-tbody').html(content);
		
		prev_journal = data;
	};
	var renderBudget = async function(){
		var budget = await getPromise('/api/budget');
		
		var savPercDiff = budget.savings.expected - budget.savings.actual_p;
		var savToAdd = (savPercDiff > 0) ? savPercDiff * budget.income.actual : 0;
		
		var budLines = [];
		budLines.push('Income = ' + budget.income.actual);
		budLines.push('Savings = ' + budget.savings.actual 
			+ ` (${budget.savings.actual_p}%) | ${savToAdd}`);
		
		$('#budget-txt').html( budLines.join('<br />') );
	};
	
	$("#quick-entry").submit(async function(event){
		console.log('submit - start...');
		event.preventDefault();
		
		var body = collectForm('quick-entry');
		console.log('submit - collected - %j', body);
		await postPromise('/api/transfer', body);
		renderTable();
		renderBudget();
	});
	
	renderTable();
	renderBudget();
	//run_loop(renderTable, 5000);
});
</script>


