
<div class="row" >
	<div class="col-12" >
		<div class="card shadow my-4">
            <div class="card-header ">
                <!--<h5 class="card-title">Network Settings</h5>-->
                <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs" id="set-menu">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#book">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#user">User</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#org">Org</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
				No content yet
				<br /><br />
				
				<div class="set-content" id="set-book" >
					Book
				</div>
				<div class="set-content d-none" id="set-user" >
					User
				</div>
				<div class="set-content d-none" id="set-org" >
					Org
				</div>
				
			</div>
       </div>
		
	</div>
</div>

<script>

$(document).ready(function(){
	
	$("#set-menu .nav-link").click(function(e){
		
		//console.log('click DEBUG');
		var currentTab = $(this);
		
		$("#set-menu .nav-link").removeClass('active');
		currentTab.addClass('active');
		
		var ref = currentTab.attr('href').replace('#', '');
		$('.set-content').addClass('d-none');
		$("#set-" + ref).removeClass('d-none');
		
		e.preventDefault();
	});
});
</script>


