{{#entries}}
	<tr data-id="{{id}}" data-group="{{group}}" data-ts="{{ts}}" >
		<td>{{date}}</td>
		<td>{{account}}</td>
		<td>{{debit}}</td>
		<td>{{credit}}</td>
		<td>{{category}}</td>
	</tr>
{{/entries}}


